$logo-color: #61dafb;
$nav-color: #21222a;
$right-nav: #deebf8;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  height: 100vh;
}

@mixin flex($just) {
  display: flex;
  align-items: center;
  justify-content: $just;
}
.nav {
  @include flex(space-between);
  background: $nav-color;
  height: 80px;
  padding: 20px 15px;

  &__left {
    @include flex(center);
  }

  &__img {
    width: 30px;
  }

  &__logo {
    color: $logo-color;
    margin-left: 10px;
    font-size: 19px;
  }

  &__text {
    color: $right-nav;
    font-size: 15px;
  }
}
